<div style="        float: left;
        background-color: #808080;
        width: 100%;
        height: 60px;
        padding: 10px;
">
    <div style="float:left;">
        <img src="~/images/logo.png" height="40" />
        <span>PM2.5</span>
    </div>
    <div style="float:right;"><img src="~/images/logo.png" height="40" /></div>
</div>
<div style="float: left;background-color: red;width: 20%;height: 550px;padding: 10px;">
    <div style="width:100%;">PM2.5</div>
    <div style="width: 100%; padding-left: 30px;"><i class="fa fa-user"></i> xxxxxx</div>
    <div style="width: 100%; padding-left: 30px;">xxxxxx</div>
    <div style="width:100%;">PM2.5</div>
    <div style="width: 100%; padding-left: 30px;">xxxxxx</div>
    <div style="width: 100%; padding-left: 30px;">xxxxxx</div>
    <div style="width: 100%; padding-left: 30px;">xxxxxx</div>
</div>
<div style="float: left;  width: 80% ">
    <div style="float: left;background-color: blue;width: 100%;height: 50px;padding: 10px;">
        <div style="float:left;"><img src="~/images/logo.png" height="20" />XXXx</div>
        <div style="float:right;">
            <input type="text" style="width:200px;" />
            <input type="button" value="Search" />
        </div>

    </div>
    <div style="float: left;background-color: yellow;width: 100%; height: 500px; text-align:center;padding:10px;">
        <table>
            <tr>
                <td>AAA</td>
                <td>BBB</td>
                <td>CCC</td>
            </tr>
            <tr>
                <td>a1</td>
                <td>b1</td>
                <td>c1</td>
            </tr>
            <tr>
                <td>a2</td>
                <td>b3</td>
                <td>c2</td>
            </tr>
        </table>
    </div>
</div>